body {
  background-color: rgb(171, 173, 179);
}
h1,
h2 {
  color: orange;
}
h4 {
  color: red;
}
p {
  font: oblique bold 120% cursive;
  font-size: 20px;
  color: aquamarine;
}
h3 {
  color: green;
  font-size: 50px;
}
blockquote {
  color: blue;
}
.yellow {
  color: yellow;
  font-size: 20px;
}
.red {
  color: red;
  font-size: 20px;
}
a[href="http://www.falconmasters.com"]
{
  color: green;
  font-size: 30px;
}
p a{
  color:hotpink
}
.three{
  background-color: rgb(13, 61, 25);
  border:rgb(95, 43, 129) 10px inset;
  border-radius: 15px;
}
.dos{
  background-color: rgb(17, 119, 216);
  border: 5px dotted black  ;
  border-radius: 20px;
}